@charset "utf-8"; //设置中文编码
/* !--------------------------------login尾部---------------------- */
.login-footer{
  
    display: flex;
    justify-content: center;
    p{
        padding-top:20px;
       a{
        padding: 0 20px;
        color: #AAA;
    }  
    }
    
   
}
